{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>
{% endblock %}



{% block page_content %}
    <div class="right_col" role="main">
        <div class="">


            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3>Clientes MAPA</h3>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <table class="table table-striped table-condensed" id="TabelaClientes">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Fone</th>
                                    <th>Endereço</th>
                                    <th>Numero</th>
                                    <th>Compl</th>
                                    <th>Bairro</th>
                                    <th>Cidade</th>
                                    <th>CEP</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cliente in clientes %}
                                    <tr>
                                        <th scope="row">{{ cliente.id }}</th>
                                        <td>{{ cliente.nome }}</td>
                                        <td>{{ cliente.cpf|replace({'.': '', '-': ''})  }}</td>
                                        <td>{{ cliente.telefone }}</td>
                                        {% if cliente.endereco is not null %}
                                            <td>{{ cliente.endereco.endereco }}</td>
                                            <td>{{ cliente.endereco.numero }}</td>
                                            <td>{{ cliente.endereco.complemento }}</td>
                                            <td>{{ cliente.endereco.bairro }}</td>
                                            <td>{{ cliente.endereco.cidade }}</td>
                                            <td>{{ cliente.endereco.cep }}
                                        {% else %}
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}
     <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>

     <script>
         $(document).ready( function () {
             $('#TabelaClientes').DataTable({
                 "language": {
                     "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
                 },
             });
         } );
     </script>
 {% endblock %}