{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>
{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Mapa - Calibres</h3>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">


                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <table class="table table-striped" id="TabelaCalibres">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Descrição</th>
                                    <th>Tipo</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for calibre in calibres %}
                                    <tr>
                                        <th scope="row">{{ calibre.id }}</th>
                                        <td>{{ calibre.descricao }}</td>
                                        <td>{{ calibre.tipoCalibre }}</td>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}
     <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>

     <script>
         $(document).ready( function () {
             $('#TabelaCalibres').DataTable({
                 "language": {
                     "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
                 },
             });
         } );
     </script>
 {% endblock %}