{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>
{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Produtos PCE</h2>
                            <a href="{{ path('mapa_novo_produto') }}"
                               class="btn btn-primary btn-round active pull-right"
                               role="button">Novo&nbsp;<span
                                        class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </a>
                            <div class="clearfix"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <table class="table table-striped" id="TabelaProdutos">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Descrição</th>
                                    <th>Tipo</th>
                                    <th>Calibre</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for produto in produtos %}
                                    <tr>
                                        <th scope="row">{{ produto.id }}</th>
                                        <td>{{ produto.codigo }}</td>
                                        <td>{{ produto.descricao }}</td>
                                        <td>{{ produto.calibre.descricao }}</td>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}
     <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>

     <script>
         $(document).ready(function () {
             $('#TabelaProdutos').DataTable({
                 "language": {
                     "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
                 },
             });
         });
     </script>
 {% endblock %}