{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block style %}

{% endblock %}


{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>MAPA</h3>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">

                        <div class="x_title">
                            <h3>Armas Pendentes</h3>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Mês/Ano</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Produto</th>
                                    <th scope="col">Serie</th>
                                    <th scope="col">Qtde</th>
                                </tr>
                                </thead>
                                <tbody id="movimentos">
                                </tbody>
                            </table>
                            <div class="loading"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


 {% block javascripts %}
     <script>
         function onChangeInput(id, el) {
             console.log(id);
             console.log($(el).val());
             $.ajax({
                 url: "/mapa/movimento/arma",
                 type: "PUT",
                 dataType: "json",
                 data: {
                     "id": id,
                     "data": $(el).val()
                 },
                 success: function (update) {
                     $(el).animate({
                         backgroundColor: "#DBEBC0",
                         color: "#000"
                     }, 1000);
                 }
             })
         }


         $(document).ready(function () {
             $.ajax({
                 url: "/mapa/movimento/armas/pendentes",
                 type: "GET",
                 dataType: "json",
                 success: function (movimentosJson) {
                     jQuery.each(movimentosJson, function (i, val) {
                         var row = '<tr><td scope="row">' + val['id'] + '</td>'

                             + '<td scope="row" class="text-center">' + val['data'] + '</td>'
                             + '<td scope="row">' +
                             '<input class="form-control" type="text" onchange="onChangeInput(' + val['id'] + ',this)" placeholder="mm/aaaa">' +
                             '</input>' + '</td>'
                             + '<td scope="row">' + val['cliente'] + '</td>'
                             + '<td scope="row">' + val['produto'] + '</td>'
                             + '<td scope="row">' + val['serie'] + '</td>'
                             + '<td scope="row" class="text-center">' + val['qtde'] + '</td></tr>'
                         $('#movimentos').append(row);
                     });
                     $('.loading').hide();
                 },
                 error: function (xhr) {
                     $('.loading').hide();
                     new PNotify({
                         title: 'Erro',
                         text: xhr.statusText + ' : ' + xhr.status,
                         type: 'error',
                         styling: 'bootstrap3'
                     });
                 },

             })

         })
     </script>
 {% endblock %}







