{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendors/pnotify/dist/pnotify.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendors/pnotify/dist/pnotify.buttons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendors/pnotify/dist/pnotify.nonblock.css') }}"/>
{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Mapa</h3>
                </div>

            </div>
            <ol class="breadcrumb">
                <li><a href={{ path('homepage') }}>Home</a></li>
                <li><a href={{ path('mapa_controle_armas') }}>MapaControleArmas</a></li>
                <li class="active">MovimentosArmas</li>
            </ol>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3>Movimentos de armas &nbsp{{ parametro.mesAbertoVendaArma }}
                                / {{ parametro.anoAbertovendaArma }}</h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="table-responsive table-striped">
                                <table class="table table-striped table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Data</th>
                                        <th scope="col">Cliente / Fornecedor</th>
                                        <th scope="col">E/S</th>
                                        <th scope="col">Produto</th>
                                        <th scope="col">Qtde</th>
                                        <th scope="col">Série</th>
                                    </tr>
                                    </thead>
                                    <tbody id="movimentos">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="loading"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

 {% block javascripts %}
     <script src="{{ asset('vendors/pnotify/dist/pnotify.js') }}"></script>
     <script src="{{ asset('vendors/pnotify/dist/pnotify.buttons.js') }}"></script>
     <script src="{{ asset('vendors/pnotify/dist/pnotify.nonblock.js') }}"></script>
     <script type="text/javascript">
         function onChangeTextArea(id, el) {
             $.ajax({
                 url: "/mapa/movimento/arma/serie",
                 type: "PUT",
                 dataType: "json",
                 data: {
                     "id": id,
                     "serie": $(el).val()
                 },
                 success: function (update) {
                     $(el).animate({
                         backgroundColor: "#DBEBC0",
                         color: "#000"
                     }, 1000);
                 }
             })
         }


         $(document).ready(function () {
             $.ajax({
                 url: "/mapa/movimentos/mes/armas",
                 type: "GET",
                 dataType: "json",
                 success: function (movimentosJson) {
                     jQuery.each(movimentosJson, function (i, val) {
                         var row = '<tr><td scope="row">' + val['id'] + '</td>'
                             + '<td scope="row" class="text-nowrap">' + val['dataFiscal'] + '</td>'
                             + '<td scope="row">' + val['cliente'] + '</td>'
                             + '<td scope="row">' + val['entSaida'] + '</td>'
                             + '<td scope="row">' + val['produto'] + '</td>'
                             + '<td scope="row" class="text-center">' + val['qtde'] + '</td>'
                             + '<td scope="row"> <textarea onchange="onChangeTextArea(' + val['id'] + ',this)" class="form-control" rows=3>' + val['serie'] + '</textarea ></td></tr>';
//
                         $('#movimentos').append(row);
                     });
                     $('.loading').hide();
                 },
                 error: function (xhr) {
                     $('.loading').hide();
                     new PNotify({
                         title: 'Erro',
                         text: xhr.statusText + ' : ' + xhr.status,
                         type: 'error',
                         styling: 'bootstrap3'
                     });
                 },

             })

         })
     </script>
 {% endblock %}