{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendors/pnotify/dist/pnotify.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendors/pnotify/dist/pnotify.buttons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendors/pnotify/dist/pnotify.nonblock.css') }}"/>
{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Mapa</h3>
                </div>

            </div>
            <ol class="breadcrumb">
                <li><a href={{ path('homepage') }}>Home</a></li>
                <li><a href={{ path('mapa') }}>Mapa</a></li>
                <li class="active">Movimentos</li>
            </ol>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Movimentos Munições &nbsp{{ parametro.mesAberto }} / {{ parametro.anoAberto }}</h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">

                            <div class="table-responsive">

                                <table class="table table-striped table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Cliente</th>
                                        <th scope="col">Produto</th>
                                        <th scope="col">Documento</th>
                                        <th scope="col">Qtde</th>
                                        <th scope="col">Registro</th>
                                    </tr>
                                    </thead>
                                    <tbody id="movimentos">
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                    <div class="loading"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

 {% block javascripts %}
     <script src="{{ asset('vendors/pnotify/dist/pnotify.js') }}"></script>
     <script src="{{ asset('vendors/pnotify/dist/pnotify.buttons.js') }}"></script>
     <script src="{{ asset('vendors/pnotify/dist/pnotify.nonblock.js') }}"></script>
     <script type="text/javascript">
         function onChangeTextArea(id, el) {
             console.log(id);
             console.log($(el).val());
             $.ajax({
                 url: "/mapa/movimentos/update",
                 type: "PUT",
                 dataType: "json",
                 data: {
                     "id": id,
                     "registro": $(el).val()
                 },
                 success: function (update) {
                     $(el).animate({
                         backgroundColor: "#00c9a7",
                         color: "#000"
                     }, 1000);
                 }
             })
         }


         $(document).ready(function () {
             function onChangeTextArea(id, el) {
                 console.log(id);
                 $(el).closest('td').fadeTo("slow", 0.5, function () {
                     $(this).remove();
                 });
             }

             $.ajax({
                 url: "/mapa/movimentos/mes",
                 type: "GET",
                 dataType: "json",
                 success: function (movimentosJson) {
                     jQuery.each(movimentosJson, function (i, val) {
                         var row = '<tr><td style="text-align: center; vertical-align: middle;" scope="row">'
                             + val['id'] + '</td>'
                             + '<td style="vertical-align: middle;" scope="row">'
                             + val['cliente'] + '</td>'
                             + '<td style="vertical-align: middle;" scope="row">'
                             + val['produto'] + '</td>'
                             + '<td style="text-align: center; vertical-align: middle;" scope="row">'
                             + val['pedidoNota'] + '</td>'
                             + '<td style="text-align: center; vertical-align: middle;" scope="row">'
                             + val['qtde'] + '</td>'
                             + '<td style="text-align: center; vertical-align: middle;" scope="row"> ' +
                             '<textarea onchange="onChangeTextArea(' + val['id'] + ',this)" class="form-control" rows=3>'
                             + val['registro'] + '</textarea ></td></tr>';
                         $('#movimentos').append(row);
                     });
                     $('.loading').hide();
                 },
                 error: function (xhr) {
                     $('.loading').hide();
                     new PNotify({
                         title: 'Erro',
                         text: xhr.statusText + ' : ' + xhr.status,
                         type: 'error',
                         styling: 'bootstrap3'
                     });
                 },

             })

         })
     </script>
 {% endblock %}