{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block style %}

{% endblock %}


{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">

                        <div class="x_title">
                            <h3>Importar Munições Tiny</h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-4">
                                    {% for message in app.flashes('notice') %}
                                        <div class="alert alert-success" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% form_theme form 'bootstrap_3_layout.html.twig' %}
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-1">
                                    <label>Pedido/NF</label>
                                </div>
                                <div class="col-md-2">
                                    {{ form_row(form.numero) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <label>Movimento</label>
                                </div>
                                <div class="col-md-2">
                                    {{ form_row(form.tipoMov) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <label>PCE</label>
                                </div>
                                <div class="col-md-2">
                                    {{ form_row(form.tipoPCE) }}
                                </div>
                            </div>
                            {{ form_end(form) }}


                            {# <div class="row"> #}
                            {# <div class="col-md-2"> #}
                            {# <input class="form-control" id="numeroNota" placeholder="Pedido / Nota Fiscal"> #}
                            {# </div> #}
                            {# <div class="col-md-2"> #}
                            {# <div class="radio" style="margin-top: -8px"> #}
                            {# <label> #}
                            {# <input type="radio" name="optionsRadios" id="radioSaida" value="S" checked> #}
                            {# Saida #}
                            {# </label> #}
                            {# </div> #}
                            {# <div class="radio" style="padding: 0"> #}
                            {# <label> #}
                            {# <input type="radio" name="optionsRadios" id="radioEntrada" value="E"> #}
                            {# Entrada #}
                            {# </label> #}
                            {# </div> #}
                            {# </div> #}
                            {# <div class="col-md-4"> #}
                            {# <button id="btnImportar" class="btn btn-primary">Importar</button> #}
                            {# </div> #}
                            {# </div> #}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


 {% block javascripts %}

     <script>
         $("#btnImportar").click(function (event) {
             $.ajax({
                 url: "/mapa/importar/nota_municao",
                 type: "POST",
                 data: {
                     notafiscal: $("#numeroNota").val(),
                     es: $('input[name=optionsRadios]:checked').val()
                 }
             })
         })

     </script>
 {% endblock %}







