{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendors/pnotify/dist/pnotify.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendors/pnotify/dist/pnotify.buttons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendors/pnotify/dist/pnotify.nonblock.css') }}"/>
{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">


            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Status Mapa Armas</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div>
                                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                                        <div class="tile-stats">
                                            <div class="icon"><i class="fa fa-calendar"></i>
                                            </div>
                                            <div id="mes" class="count">Mês&nbsp{{ parametro.mesAbertoVendaArma }}</div>
                                            <h3 id="ano">Ano&nbsp{{ parametro.anoAbertovendaArma }}</h3>
                                            <p>Em aberto</p>
                                        </div>
                                    </div>
                                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                                        <div class="tile-stats">
                                            <div class="icon"><i class="fa fa-bar-chart"></i>
                                            </div>
                                            <div class="count">{{ parametro.ultMovArma | date('d-m-y') }}</div>
                                            <h3 id="ano">Movimentos</h3>
                                            <p>{{ parametro.ultMovArma|format_datetime('none', 'short') }}</p>
                                        </div>
                                    </div>
                                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                                        <div class="tile-stats">
                                            <div class="icon"><i class="fa fa-bar-chart"></i>
                                            </div>
                                            <div class="count">{{ parametro.ultSaldoArma | date ('d-m-y') }}</div>
                                            <h3 id="ano">Saldos</h3>
                                            <p>{{ parametro.ultSaldoArma | format_datetime('none', 'short') }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-info btn-block disabled"
                                           href="{{ path('mapa_movimento_armas_mes') }}">Movimentos</a>
                                        <a class="btn btn-info btn-block disabled" onclick="procInventory()">Calcular
                                            Saldos</a>

                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-danger btn-block disabled"
                                           onclick="closeMonth()">Fechar
                                            Mês</a>
                                        <a class="btn btn-danger btn-block disabled"
                                           onclick="openMonth()">Reabir
                                            Mês</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Inventário Munições</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="loading"></div>
                            <div class="table-responsive">

                                <table id="saldos" class="table table-striped table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Calibre</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Saldo Inicial</th>
                                        <th scope="col">Entrada</th>
                                        <th scope="col">Saida</th>
                                        <th scope="col">Saldo Final</th>
                                    </tr>
                                    </thead>
                                    <tbody id="movimentos">
                                    </tbody>
                                </table>
                                <div class="jumbotron" style="display: none">
                                    <h1>Saldos indisponíveis!</h1>
                                    <p>A consulta não retornou nenhum registro para o mês em aberto.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}

     <script src="{{ asset('vendors/pnotify/dist/pnotify.js') }}"></script>
     <script src="{{ asset('vendors/pnotify/dist/pnotify.buttons.js') }}"></script>
     <script src="{{ asset('vendors/pnotify/dist/pnotify.nonblock.js') }}"></script>
     <script src="{{ asset('vendors/bootbox-master/dist/bootbox.min.js') }}"></script>
     <script src="{{ asset('vendors/bootbox-master/dist/bootbox.locales.min.js') }}"></script>

     <script type="text/javascript">
         function procInventory() {
             disabledButtons();
             $('.loading').show();
             $.ajax({
                 url: "/mapa/armas/saldos/calcular",
                 type: "GET",
                 dataType: "json",
                 success: function (data, textStatus, xhr) {
                     console.log(xhr.status);
                     if (xhr.status == 200) {
                         updateScreen();
                         new PNotify({
                             title: 'Calculo de Estoques',
                             text: 'Saldos calculados com sucesso',
                             type: 'info',
                             styling: 'bootstrap3'
                         });

                     }
                 }
             })
         }

         function closeMonth() {

             bootbox.confirm({
                 message: "Deseja realmente encerrar o mês?",
                 buttons: {
                     confirm: {
                         label: 'Encerrar',
                         className: 'btn-success'
                     },
                     cancel: {
                         label: 'Cancelar',
                         className: 'btn-danger'
                     }
                 },
                 callback: function (result) {
                     if (result == true) {
                         disabledButtons();
                         $('.loading').show();
                         $.ajax({
                             url: "/mapa/armas/fechar/mes",
                             type: "GET",
                             dataType: "json",
                             success: function (data, textStatus, xhr) {
                                 updateScreen();
                                 new PNotify({
                                     title: 'Fechamento de mês',
                                     text: 'Mês fechado com sucesso',
                                     type: 'info',
                                     styling: 'bootstrap3'
                                 });

                             }
                         })
                     }
                     ;
                 }
             });


         }

         function openMonth() {

             bootbox.confirm({
                 message: "Deseja realmente reabrir o mês anterior?",
                 buttons: {
                     confirm: {
                         label: 'Reabrir',
                         className: 'btn-success'
                     },
                     cancel: {
                         label: 'Cancelar',
                         className: 'btn-danger'
                     }
                 },
                 callback: function (result) {
                     if (result == true) {
                         $('.loading').show();
                         disabledButtons();
                         $.ajax({
                             url: "/mapa/armas/reabrir/mes",
                             type: "GET",
                             dataType: "json",
                             success: function (data, textStatus, xhr) {
                                 updateScreen();
                                 if (xhr.status == 200) {
                                     $('.loading').hide();
                                     new PNotify({
                                         title: 'Reabertura de mês',
                                         text: 'Mês reaberto com sucesso',
                                         type: 'info',
                                         styling: 'bootstrap3'
                                     });
                                 }
                             }
                         })
                     }
                     ;
                 }
             });
         }

         function loadInventory(saldosJson) {
             $('.loading').show();
             removeDataTable();
             jQuery.each(saldosJson, function (i, val) {
                 var row = '<tr><td scope="row">' + val['id'] + '</td>'
                     + '<td scope="row">' + val['calibre'] + '</td>'
                     + '<td scope="row">' + val['tipo'] + '</td>'
                     + '<td scope="row">' + val['saldoInicial'] + '</td>'
                     + '<td scope="row">' + val['entrada'] + '</td>'
                     + '<td scope="row">' + val['saida'] + '</td>'
                     + '<td scope="row">' + val['saldoFinal'] + '</td></tr>';
                 $('#movimentos').append(row);

             });


         }

         function removeDataTable() {
             $('#movimentos > tr').remove('')
         }

         function getInventory() {
             $.ajax({
                 url: "/mapa/estoque/armas/saldos",
                 type: "GET",
                 dataType: "json",
                 success: function (saldosJson, textStatus, xhr) {

                     loadInventory(saldosJson);

                 },
                 error: function (xhr, textStatus, error) {

                     $('.loading').hide();
                     if (xhr.status == 404) {
                         $('.jumbotron').css('display', 'inline-block');
                     }
                 },
                 complete: function (xhr, textStatus) {
                     enableButtons();
                     $('.loading').hide();
                 }
             });
         }

         function getParameter() {
             $('#mes').text('Mês');
             $('#ano').text('Ano');
             $.ajax({
                 url: "/mapa/parametros/armas",
                 type: "GET",
                 dataType: "json",
                 success: function (parametros, textStatus, xhr) {

                     jQuery.each(parametros, function (i, val) {
                         $('#mes').text('Mês ' + val['mes']);
                         $('#ano').text('Ano ' + val['ano']);
                     });

                 },
                 error: function (jqXHR, textStatus, error) {

                     $('.loading').hide();

                 },
             });
         }


         function disabledButtons() {
             $('.btn').removeClass('active');
             $('.btn').addClass('disabled');
         }

         function enableButtons() {
             $('.btn').removeClass('disabled');
             $('.btn').addClass('active');
         }

         function updateScreen() {
             $('.loading').show();
             disabledButtons();
             getParameter();
             removeDataTable();
             getInventory();


         }


         $(document).ready(function () {
             getInventory();
         });
     </script>
 {% endblock %}