{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block style %}

{% endblock %}


{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>MAPA SFPC - Exército</h3>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        {% for message in app.flashes('notice') %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="x_title">
                            <h2>Reletório Venda Munição - Por Tipo</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            {% form_theme form 'bootstrap_3_layout.html.twig' %}
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    {{ form_start(form) }}
                                    {{ form_errors(form) }}
                                    {{ form_widget(form) }}
                                    <button class="btn btn-default" type="submit">Gerar</button>
                                    {{ form_end(form) }}

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


 {% block javascripts %}

     <script src="{{ asset('vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
     <script src="{{ asset('vendors/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js') }}"></script>
     <script>
         $.fn.datepicker.defaults.format = "d/m/yyyy";
         $.fn.datepicker.defaults.language = "pt-BR"
         $('.date').datepicker();
     </script>
 {% endblock %}







