<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Demonstrativo Venda de Munições por Cliente </title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/print.css') }}"/>


</head>

<body>


<div class="container-fluid">
    <div class="row" style="margin: 0mm 0.2mm 0 0.2mm">
        <div class="col-2 border border-default">
            <p>CR nº</p>
        </div>
        <div class="col-6 border border-default">
            <p>97465</p>
        </div>
        <div class="col-2 ">
            <p></p>
        </div>
        <div class="col-1 border border-default">
            <p>Mês</p>
        </div>
        <div class="col-1 border border-default">
            <p>{{ mes }}/{{ ano }}</p>
        </div>
    </div>
    <div class="row" style="margin: 0mm 0.2mm 0 0.2mm">
        <div class="col-2 border border-default">
            <p>Empresa</p>
        </div>
        <div class="col-6 border border-default">
            <p>Miguel Pescador Comércio de Caça e Pesca Ltda</p>
        </div>
    </div>
    <div class="row" style="margin: 0mm 0.2mm 0 0.2mm">
        <div class="col-2 border border-default">
            <p>Endereço</p>
        </div>
        <div class="col-6 border border-default">
            <p>Av. Andrade Neves, 1011, Campinas</p>
        </div>
    </div>
    <br/>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Endereço</th>
            <th scope="col">Especificação</th>
            <th scope="col">Número</th>
            <th scope="col">Marca</th>
            <th scope="col">Notafiscal</th>
        </tr>
        </thead>
        <tbody>

        {% for mov in movimentos %}
            <tr>
                <th>{{ mov.clienteFornecedor.nome }}</th>
                <th class="text-center">{{ mov.clienteFornecedor.cpf }}</th>
                <th class="text-center">
                    {{ mov.clienteFornecedor.endereco.endereco }},
                    {{ mov.clienteFornecedor.endereco.numero }},
                    {% if mov.clienteFornecedor.endereco.complemento == true %}
                        {{ mov.clienteFornecedor.endereco.complemento }},
                    {% endif %}
                    {{ mov.clienteFornecedor.endereco.bairro }},
                    {{ mov.clienteFornecedor.endereco.cidade }},
                    {{ mov.clienteFornecedor.endereco.uf }}
                </th>
                <th class="text-center">{{ mov.produto.descricao }}</th>
                <th class="text-center">{{ mov.serie }}</th>
                <th class="text-center">{{ mov.produto.fabricante }}</th>
                <th class="text-center">{{ mov.docFiscal }}</th>

            </tr>
        {% endfor %}


        </tbody>
    </table>
    <div class="row spacer2cm">
        <div class="assinatura">
            <span>Campinas, {{ data |format_datetime('full', 'none') }}</span>
        </div>
    </div>

    <div class="row" style="margin-top: 5cm">
        <div class="assinatura">
            <span>_____________________________________________</span>

        </div>
    </div>
    <div class="row">
        <div class="assinatura">
            <span>Miguel Pescador Comércio de Caça e Pesca Ltda.</span>

        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


</body>
</html>