{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('vendors/datatables/datatables.min.css') }}"/>
{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Calculo de Preço de Venda</h3>
                </div>
                <div class="title_right">

                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Notas Fiscais</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="nfItem" class="display" style="width:100%">
                                <thead>
                                <tr>
                                    <th>descricao</th>

                                </tr>
                                </thead>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


 {% block javascripts %}

     <script src="{{ asset('vendors/datatables/datatables.min.js') }}"></script>

     <script>


         $(document).ready(function () {
             $('#nfItem').DataTable({
                 ajax: {
                     url: '/CalculoPreco',
                     type: 'POST',
                     data: {
                         'nfId': '3789'
                     },
                     dataSrc: 'data'

                 }
             })
         });
     </script>
 {% endblock %}
