{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Cadastro de Produto</h3>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        {% for message in app.session.flashBag.get('notice') %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.session.flashBag.get('error') %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="x_title">
                            <h2>Inclusão</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


 {% block javascripts %}
     <script>

     </script>
 {% endblock %}