{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Calculo de Preço de Venda</h3>
                </div>
                <div class="title_right">

                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Notas Fiscais</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th>Nota Fiscal</th>
                                    <th>Fornecedor</th>
                                    <th>Data</th>
                                    <th class="text-center">Calcular Preço</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for nota in notas %}
                                    <tr>
                                        <th scope="row">{{ nota.idnf }}</th>
                                        <td>{{ nota.nota }}</td>
                                        <td class="text-uppercase">{{ nota.fornecedor }}</td>
                                        <td>{{ nota.data|date("d/m/Y") }}</td>
                                        <td class="text-center"><a
                                                    href="{{ path('CalculoNF') }}">
                                                <i class="fa fa-calculator" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


 {% block javascripts %}
 {% endblock %}