{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block page_content %}
    {{ include("default/page_principal.html.twig") }}
{% endblock %}


 {% block javascripts %}
 {% endblock %}

