{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Etiqueta de Carabina</h3>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Calculo de Preço</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {% form_theme form 'bootstrap_3_layout.html.twig' %}
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-1">
                                            {{ form_row(form.custo) }}
                                        </div>
                                        <div class="col-md-1">
                                            {{ form_row(form.margem) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_row((form.txdeb)) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_row((form.txdesconto)) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_row((form.txflexrotativo)) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_row((form.txflexparcelado)) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-11">
                                            <button class="btn btn-warning" type="button" onclick="calcPrice()">
                                                Calcular
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_row(form.descricao1) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_row(form.descricao2) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_row(form.dnh) }}
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            {{ form_row(form.deb) }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form_row(form.cr1) }}
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                            {{ form_row(form.crt1) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form_row(form.cr2) }}
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                            {{ form_row(form.crt2) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form_row(form.cr3) }}
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                            {{ form_row(form.crt3) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form_row(form.cr4) }}
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                            {{ form_row(form.crt4) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form_row(form.cr5) }}
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                            {{ form_row(form.crt5) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ form_row(form.cr6) }}
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                            {{ form_row(form.crt6) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="ln_solid"></div>
                                        <div class="col-md-6">

                                            <button type="submit" class="btn btn-primary">Imprimir</button>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


 {% block javascripts %}
     <script>
         function calcPrice() {
             var formCusto = document.forms['form']['form_custo'].value;
             formCusto = formCusto.replace(',', '.');
             var formMargem = document.forms['form']['form_margem'].value;
             formMargem = formMargem.replace(',', '.');
             var formTxDesconto = document.forms['form']['form_txdesconto'].value;
             formTxDesconto = formTxDesconto.replace(',', '.');
             var formFlexRotativo = document.forms['form']['form_txflexrotativo'].value;
             formFlexRotativo = formFlexRotativo.replace(',', '.');
             var formFlexParcelado = document.forms['form']['form_txflexparcelado'].value;
             formFlexParcelado = formFlexParcelado.replace(',', '.');
             var formDeb = document.forms['form']['form_txdeb'].value;
             formDeb = formDeb.replace(',', '.');

             if (formCusto != '' && formMargem != '' && formTxDesconto != '') {
                 var dinheiro = Math.ceil(formCusto * ( (1 + (formMargem / 100))));

                 document.forms['form']['form_deb'].value = Math.ceil(dinheiro * (1 + (formDeb / 100)));
                 document.forms['form']['form_dnh'].value = dinheiro;

                 document.forms['form']['form_crt1'].value = Math.ceil(dinheiro * (1 + ((formTxDesconto / 100) +(formFlexRotativo / 100) )));
                 document.forms['form']['form_cr1'].value = parseInt(document.forms['form']['form_crt1'].value).toFixed(2).replace('.', ',');

                 document.forms['form']['form_crt2'].value = Math.ceil(dinheiro * (1 +  ((formTxDesconto / 100) +(formFlexRotativo / 100) +(formFlexParcelado / 100)) ));
                 document.forms['form']['form_cr2'].value = (document.forms['form']['form_crt2'].value / 2).toFixed(2).replace('.', ',');

                 document.forms['form']['form_crt3'].value = Math.ceil(dinheiro * (1 + ((formTxDesconto / 100) +(formFlexRotativo / 100) +(formFlexParcelado * 2 / 100))));
                 document.forms['form']['form_cr3'].value = (document.forms['form']['form_crt3'].value / 3).toFixed(2).replace('.', ',');

                 document.forms['form']['form_crt4'].value = Math.ceil(dinheiro * (1 + ((formTxDesconto / 100) +(formFlexRotativo / 100) +(formFlexParcelado * 3 / 100))));
                 document.forms['form']['form_cr4'].value = (document.forms['form']['form_crt4'].value / 4).toFixed(2).replace('.', ',');

                 document.forms['form']['form_crt5'].value = Math.ceil(dinheiro * (1 + ((formTxDesconto / 100) +(formFlexRotativo / 100) +(formFlexParcelado * 4 / 100))));
                 document.forms['form']['form_cr5'].value = (document.forms['form']['form_crt5'].value / 5).toFixed(2).replace('.', ',');

                 document.forms['form']['form_crt6'].value = Math.ceil(dinheiro * (1 + ((formTxDesconto / 100) +(formFlexRotativo / 100) +(formFlexParcelado * 5 / 100))));
                 document.forms['form']['form_cr6'].value = (document.forms['form']['form_crt6'].value / 6).toFixed(2).replace('.', ',');

             }
         }
     </script>
 {% endblock %}