{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Ajuste de Saldos de Estoque</h3>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Produtos</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="table-responsive table-striped">
                                <table id="produto" class="table ">
                                    <thead>
                                    <tr>

                                        <th>ID</th>
                                        <th>Código</th>
                                        <th>Descrição</th>
                                        <th>Saldo</th>

                                    </tr>
                                    </thead>
                                    <tbody id="tbline">


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


 {% block javascripts %}
     <script type="text/javascript">

         $(document).ready(function () {
             $.ajax({
                 url: "/estoque/saldos/ajax",
                 type: "POST",
                 data: {
                     'CODIGO': ''
                 },
                 success: function (resposta) {
                     var tbody = document.getElementById('tbline');
                     var table = document.getElementsByTagName("table")[0];

                     for (i = 0; i < resposta.produtos.length; i++) {
                         var tr = document.createElement('TR');


                         var td = document.createElement('TD');
                         td.appendChild(document.createTextNode(resposta.produtos[i].idproduto))
                         tr.appendChild(td);

                         var td = document.createElement('TD');
                         td.appendChild(document.createTextNode(resposta.produtos[i].codigo))
                         tr.appendChild(td);

                         var td = document.createElement('TD');
                         td.appendChild(document.createTextNode(resposta.produtos[i].descricao))
                         tr.appendChild(td);

                         var td = document.createElement('TD');
                         td.setAttribute('id', 'saldo')
                         var inpfield = document.createElement('INPUT');
                         inpfield.setAttribute('class', 'form-control');
                         if (resposta.produtos[i].quantidade > 0) {
                             inpfield.setAttribute("style", "background-color: #C0FFEE;text-align:center;");
                         }
                         else if (resposta.produtos[i].quantidade < 0) {
                             inpfield.setAttribute("style", "background-color: #DE5157;text-align:center;");
                         } else {
                             inpfield.setAttribute("style", "background-color: #EFFACE;text-align:center;");
                         }

                         inpfield.value = resposta.produtos[i].quantidade;
                         td.appendChild(inpfield);
                         tr.appendChild(td);


                         var td = document.createElement('TD');
                         var div = document.createElement('DIV');
                         div.className = 'row';
                         var div1 = document.createElement('DIV');
                         div1.className = 'col-xs-6 ';
                         var div2 = document.createElement('DIV');
                         div2.className = 'col-xs-6 ';


                         var icon1 = document.createElement("span");
                         icon1.className = "glyphicon glyphicon-record";
                         icon1.setAttribute('style', 'color:red;');
                         var icon2 = document.createElement("span");
                         icon2.className = "glyphicon glyphicon-menu-down";
                         div1.appendChild(icon1);
                         div2.appendChild(icon2);
                         div.appendChild(div1);
                         div.appendChild(div2);
                         td.appendChild(div);
                         tr.appendChild(td);

                         tbody.appendChild(tr);
//
                     }
                     table.setAttribute('class', 'table table-responsive table-striped table-hover');
                     $('#saldo > input').change(function () {
                         console.log("inside change event");
                     });
                 },
                 error: function (error) {
                     new PNotify({
                         title: 'Erro',
                         text: 'Falha na solicitação de dados.[_estoque_saldos]',
                         type: 'error',
                         styling: 'bootstrap3'
                     });
                 }
             });


         });
     </script>
 {% endblock %}