{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendors/pnotify/dist/pnotify.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendors/pnotify/dist/pnotify.buttons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendors/pnotify/dist/pnotify.nonblock.css') }}"/>

    <style>
        .ui-autocomplete-loading {
            background: white url("{{ asset('images/loading.gif') }}") center center no-repeat;
        }
    </style>
{% endblock %}

{% block page_content %}

    <div class="right_col" role="main">

        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Movimentações Entrada / Saída</h3>
                </div>
            </div>

            <div class="clearfix"></div>
            <br/>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <input id="produto" type="text" class="form-control" placeholder="Produto">
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <input type="text" id="descricao" class="form-control" disabled="disabled" placeholder="Descrição">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">

                    <div class="control-group">
                        <div class="controls">
                            <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" id="single_cal1"
                                       PLACEHOLDER="12/12/12" aria-describedby="inputSuccess2Status">
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" id="single_cal1"
                                           PLACEHOLDER="12/12/12" aria-describedby="inputSuccess2Status">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1">
                    <button type="button" class="btn btn-primary">Movimentos</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Mensal</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div id="mainb" style="height:350px;"></div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}


 {% block javascripts %}


     <script src="{{ asset('vendors/pnotify/dist/pnotify.js') }}"></script>
     <script src="{{ asset('vendors/pnotify/dist/pnotify.buttons.js') }}"></script>
     <script src="{{ asset('vendors/pnotify/dist/pnotify.nonblock.js') }}"></script>
     <script type="text/javascript">
         $('document').ready(function () {
             $('.loading').hide();
             ajaxRequest();
         });
         function ajaxRequest() {
             $("#produto").on('focusout', function () {
                 $('.loading').show();

                 $.ajax({
                     url: "/etiqueta/produto/ajax",
                     type: "POST",
                     data: {
                         'codigo': $(this).val()
                     },
                     success: function (data) {
                         $("#descricao").val(data.descEtiqueta);

                         $('.loading').hide();


                         if (data.descricao === "") {
                             new PNotify({
                                 title: 'Erro',
                                 text: 'Código não encontrado',
                                 type: 'error',
                                 styling: 'bootstrap3',
                                 delay: 1000,
                             });
                         }
                     },
                     error: function (error) {
                         new PNotify({
                             title: 'Erro',
                             text: 'Falha na solicitação',
                             type: 'error',
                             styling: 'bootstrap3'
                         });
                         $('.loading').hide();
                     }

                 });
             })


                 .autocomplete({
                     source: function (request, response) {
                         $.ajax({
                             type: "POST",
                             url: "/json/produto/descricao",
                             data: {term: request.term},
                             success: response,
                             dataType: 'json',

                         });
                     },
                     minLength: 2,
                     delay: 1000,
                     focus: function (event, ui) {
                         $(event.target).val(ui.item.value);
                         return false;
                     },
                     select: function (event, ui) {
                         $("#produto").html(ui.item.label);
                         return false;
                     }

                 });

         }
     </script>

 {% endblock %}