{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}"/>

{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>SAT Configuração do Produto</h3>
                </div>
                {% form_theme form 'bootstrap_3_layout.html.twig' %}

                {{ form_start(form) }}
                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" id="data" class="form-control" value="{{ data|date('d/m/Y') }}">
                            <span class="input-group-btn">
                      <button class="btn btn-default" type="button"
                              onclick="buscaData()">
                          <span class="fa fa-search"></span>
                      </button>
                    </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        {% for message in app.flashes('notice') %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="x_title">
                            <h2>Itens do Pedido</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="table-responsive">
                                <table class="table table-condensed table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Descrição</th>
                                        <th>Tributação</th>
                                        <th>Origem</th>
                                        <th>NCM</th>
                                        <th>PIS</th>
                                        <th>COFINS</th>
                                        <th>Simples</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for SATProduto in form.satprodutos %}

                                        <tr>
                                            <th scope="row">
                                                {{ form_row(SATProduto.codigo, { 'label':false, 'attr':{'readonly':'true','style':'max-width: 30ch'} }) }}</th>
                                            <td>{{ form_row(SATProduto.descricao, {'label':false, 'attr':{'readonly':'true','style':'width: 45ch'} }) }}</td>
                                            <td>{{ form_row(SATProduto.icms, {'label':false, 'attr':{'style':'width: 10ch'} }) }}</td>
                                            <td>{{ form_row(SATProduto.origem, {'label':false, 'attr':{'style':'width: 10ch'} }) }}</td>
                                            <td>{{ form_row(SATProduto.ncm, {'label':false, 'attr':{'style':'width: 15ch'} }) }}</td>
                                            <td>{{ form_row(SATProduto.pis, {'label':false, 'attr':{'style':'width: 8ch'} }) }}</td>
                                            <td>{{ form_row(SATProduto.cofins, {'label':false, 'attr':{'style':'width: 8ch'} }) }}</td>
                                            <td>{{ form_row(SATProduto.simplesCsosn, {'label':false, 'attr':{'style':'width: 8ch'} }) }}</td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>

                                <div class="text-right">
                                    <button class="btn btn-primary" type="submit">Salvar</button>
                                </div>
                            </div>

                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}
     <script src="{{ asset('vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
     <script src="{{ asset('vendors/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js') }}"></script>

     <script>
         $.fn.datepicker.defaults.format = "d/m/yyyy";
         $.fn.datepicker.defaults.language = "pt-BR"
         String.prototype.replaceAll = function(de, para){
             var str = this;
             var pos = str.indexOf(de);
             while (pos > -1){
                 str = str.replace(de, para);
                 pos = str.indexOf(de);
             }
             return (str);
         }

         function buscaData() {
             var novaData = document.getElementById('data').value;
             {#console.log({{ absolute_url(path) }});#}

             window.location.href = "/SAT/parametros/" + novaData.replaceAll("/","-");
         }
     </script>
 {% endblock %}