{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>
{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Notas Fiscais</h2>
                            <a href="{{ path('EtiquetaAvulsa') }}" class="btn btn-primary btn-round active pull-right"
                               role="button">Etiquetas Avulsas&nbsp;<span
                                        class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <table data-order='[[ 0, "desc" ]]' class="table table-striped" id="TabelaNotas">
                                <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th>Nota Fiscal</th>
                                    <th>Fornecedor</th>
                                    <th>Data</th>
                                    <th>Imprimir Etiqueta</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for nota in notas %}
                                    <tr>
                                        <th scope="row">{{ nota.idnf }}</th>
                                        <td>{{ nota.nota }}</td>
                                        <td class="text-uppercase">{{ nota.fornecedor }}</td>
                                        <td>{{ nota.data }}</td>
                                        <td style="text-align: center"><a
                                                    href="{{ path('ImprimirEtiqueta',{'nota':nota.idnf}) }}">
                                                <i class="fa fa-print" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#TabelaNotas').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"
                },
            });
        });
    </script>
{% endblock %}