{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Etiqueta de Varas - Entrada Nota Fiscal</h3>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Itens da Nota Fiscal</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {% form_theme form 'bootstrap_3_layout_small.html.twig' %}
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            <div class="table-responsive">
                                <table class="table table-condensed ">
                                    <thead>
                                    <tr>

                                        <th>Código</th>
                                        <th>Descrição</th>
                                        <th>Preço</th>
                                        <th>Quantidade</th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    {% for etiqueta in form.etiquetas %}

                                        <tr>
                                            <th scope="row">
                                                {{ form_row(etiqueta.codigo, { 'label':false, 'attr':{'readonly':'true','style':'max-width: 15ch'} }) }}</th>
                                            <td>{{ form_row(etiqueta.descricao, {'label':false, 'attr':{'readonly':'true','style':'width: 55ch'} }) }}</td>
                                            <td>{{ form_row(etiqueta.preco, { 'label':false,'attr':{'readonly':'true'} }) }}</td>
                                            <td>{{ form_row(etiqueta.qtde, { 'label':false, 'attr':{'style':'width: 15  ch'}}) }}</td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="checkbox text-right">
                                <label id="zerarlabel"><input id="zerarCheckBox" type="checkbox" value="">Zerar
                                    todos</label>
                            </div>
                            <div style="align-content: center">
                                {{ form_widget(form.Imprimir,{'label':'Imprimir Etiquetas'}) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


 {% block javascripts %}
     <script>
         $("#zerarCheckBox").click(function (event) {

             $("input[name*='qtde']").each(function () {
                 $(this).val("0");

             });
             $("#zerarCheckBox").fadeOut(600, function () {
                 $(this).remove();
             });
             $("#zerarlabel").fadeOut(600, function () {
                 $(this).remove();
             });
         });
     </script>
 {% endblock %}