{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendors/pnotify/dist/pnotify.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendors/pnotify/dist/pnotify.buttons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendors/pnotify/dist/pnotify.nonblock.css') }}"/>

{% endblock %}

{% block page_content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Etiqueta de Varas</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_title">
                        <h2>Itens da Nota Fiscal</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-xs-1">
                                <span>ID</span>
                            </div>
                            <div class="col-xs-1">
                                <span>Código</span>
                            </div>
                            <div class="col-xs-3">
                                <span>Descrição</span>
                            </div>
                            <div class="col-xs-1">
                                <span>Preço</span>
                            </div>
                            <div class="col-xs-1">
                                <span>Quantidade</span>
                            </div>
                        </div>
                        {% form_theme form 'bootstrap_3_layout_small.html.twig'  'collection_widget_vara_avulso.html.twig' %}
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loading"></div>
    {% endblock %}


    {% block javascripts %}
        <script src="{{ asset('vendors/pnotify/dist/pnotify.js') }}"></script>
        <script src="{{ asset('vendors/pnotify/dist/pnotify.buttons.js') }}"></script>
        <script src="{{ asset('vendors/pnotify/dist/pnotify.nonblock.js') }}"></script>

        <script src="{{ asset('js/jquery.collection.js') }}"></script>
        <script type="text/javascript">
            $('document').ready(function () {
                $('.loading').hide();
                ajaxRequest();
            });
            $('.form_collection').collection({
                //descreve as variaveis para não usar o thema padrao jquery.collection
                prototype_name: '{{ form.etiquetas.vars.prototype.vars.name }}',
                allow_add: true,
                allow_remove: true,
                name_prefix: '{{ form.etiquetas.vars.full_name }}',
                //cudtomiza a exibição dos botoes
                up: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></a>',
                down: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a>',
                add: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></a>',
                remove: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>',
                allow_duplicate: false,
                allow_up: false,
                allow_down: false,
                //adiciona evento as novas linhas
                after_add: function (collection, element) {
                    ajaxRequest();
                },
            });

        </script>
        <script type="text/javascript">

            function ajaxRequest() {
                $("input[name*='codigo']").on('focusout', function () {
                    $('.loading').show();
                    //pega o DOM que possui o id ex etiquetas_etiquetas_0_idProduto
                    var nome = $(this).attr('id');
                    //o nome é o mesmo só mudando onde era código pelo DOM especifico
                    var DOM_idcodigo = nome.replace("codigo", "idProduto");
                    var DOM_descricao = nome.replace("codigo", "descricao");
                    var DOM_preco = nome.replace("codigo", "preco");
                    var DOM_qtde = nome.replace("codigo", 'qtde');
                    $('#' + DOM_qtde).focus();
                    $.ajax({
                        url: "/request/tiny/produto",
                        type: "POST",
                        data: {
                            'codigo': $(this).val()
                        },
                        success: function (data) {
                            $("#" + DOM_idcodigo).val(data.idproduto);
                            $("#" + DOM_descricao).val(data.descricao);
                            $("#" + DOM_preco).val(data.preco);


                            $('.loading').hide();

                            if (data.descricao === "") {
                                new PNotify({
                                    title: 'Erro',
                                    text: 'Código não encontrado',
                                    type: 'error',
                                    styling: 'bootstrap3',
                                    delay: 500,
                                });
                            }
                        },
                        error: function (error) {
                            new PNotify({
                                title: 'Erro',
                                text: 'Falha na solicitação',
                                type: 'error',
                                styling: 'bootstrap3'
                            });
                            $('.loading').hide();
                        }

                    });
                })

                    .autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                type: "POST",
                                url: "/request/tiny/produto/descricao",
                                data: {term: request.term},
                                success: response,
                                dataType: 'json',
                            });
                        },
                        minLength: 2,
                        delay: 1000,
                        focus: function (event, ui) {
                            $(event.target).val(ui.item.value);
                            return false;
                        },
                        select: function (event, ui) {
                            $("input[name*='codigo']").html(ui.item.descricao);
                            return false;
                        }
                    });
            }
        </script>
    {% endblock %}