{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">

    </div>
{% endblock %}

 {% block javascripts %}
 {% endblock %}