{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block page_content %}

    <div class="right_col" role="main">
        <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-money"></i> Total Mês</span>
                <div class="count" id="TotalMes">0,00</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-line-chart"></i> Média </span>
                <div class="count" id="Media">0,00</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-tachometer"></i> Previsão </span>
                <div class="count" id="Previsao">0,00</div>
            </div>

        </div>
        <div class="">

            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Faturamento</h3>
                            </div>

                            <div class="title_right">


                                <div class="input-group">
                                    <label><h4>Data &nbsp;</h4></label>

                                    <input type="button" class="btn btn-primary"
                                           id="dtFaturamento"
                                           checked=""
                                           required onclick="loadNewData('DF')" value="Faturamento"
                                           style="border-radius: 5000px 0 0 5000px;"/>

                                    <input type="button" class="btn " id="dtPedido"
                                           onclick="loadNewData('DP')"
                                           value="Pedido &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                                           style="border-radius: 0 5000px 5000px 0;"/>
                                </div>

                            </div>

                        </div>
                        <div class="x_content">
                            <div id="vendahj" style="height:350px;">
                                <div class="loading"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Tipo de Pagamento</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="PieTipoPagHj" style="height:350px;">
                                <div class="loading"></div>
                            </div>
                            <div class="pull-left">
                                <i class="fa fa-table" aria-hidden="true">&nbsp;Dados de Origem</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Categorias Vendidas (parcial)</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="HeatMap" style="height:350px;">
                                <div class="loading"></div>
                            </div>
                            <div class="pull-left">
                                <i class="fa fa-table" aria-hidden="true">&nbsp;Dados de Origem</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


 {% block javascripts %}
     <script src="{{ asset('vendors/echarts/dist/echarts.min.js') }}"></script>
     <script src="{{ asset('vendors/pnotify/dist/pnotify.js') }}"></script>
     <script src="{{ asset('vendors/pnotify/dist/pnotify.buttons.js') }}"></script>
     <script src="{{ asset('vendors/pnotify/dist/pnotify.nonblock.js') }}"></script>

     <script type="text/javascript">
         function loadData(tpData) {
             var data = new Date();
             $.ajax({
                     url: "/dashboard/faturamento/ajax",
                     type: "POST",
                     data: {
                         'mes': data.getMonth() + 1,

                         'ano': data.getFullYear(),
                         'tpData': tpData
                     },
                     success: function (faturamento) {
                         var option = {


                             tooltip: {
                                 trigger: 'axis'
                             },

                             toolbox: {
                                 show: false
                             },
                             calculable: false,
                             xAxis: [{
                                 type: 'category',
                                 data: faturamento.dia,

                             }],
                             yAxis: [{
                                 type: 'value'
                             }],
                             series: [{
                                 name: 'Vendas',
                                 type: 'bar',
                                 label: {
                                     normal: {
                                         show: false,
                                         position: 'inside'
                                     }
                                 },
                                 itemStyle: {
                                     normal: {
                                         color: '#29CBA9'

                                     },
                                 },
                                 data: faturamento.total,

                             },]
                         };
                         console.log(faturamento);
                         var fatmChart = echarts.init(document.getElementById('vendahj'));
                         fatmChart.setOption(option);
                         var soma = 0;
                         for (var i = 0; i < faturamento.total.length; i++) {
                             soma += Number(faturamento.total[i]);
                         }
                         var media = 0;
                         var previsao = 0;
                         media = soma / data.getDate();
                         previsao = media * new Date(data.getYear(), data.getMonth() + 1, 0).getDate();
                         document.getElementById("TotalMes").innerHTML = new Intl.NumberFormat().format(Math.round(soma));
                         document.getElementById("Media").innerHTML = new Intl.NumberFormat().format(Math.round(media));
                         document.getElementById("Previsao").innerHTML = new Intl.NumberFormat().format(Math.round(previsao));
                     },
                     error: function (error) {
                         new PNotify({
                             title: 'Erro',
                             text: 'Falha na solicitação de dados.[vendahj]',
                             type: 'error',
                             styling: 'bootstrap3'
                         });
                     }
                 }
             );
             $.ajax({
                 url: "/dashboard/faturamento_por_tipo_pagamento/ajax",
                 type: "POST",
                 data: {
                     'mes': data.getMonth() + 1,
                     'ano': data.getFullYear()
                 },
                 success: function (faturamento) {
                     var option = {

                         tooltip: {
                             trigger: 'item',

                         },
                         calculable: true,
                         legend: {
                             x: 'center',
                             y: 'bottom',
                         },
                         toolbox: {
                             show: true,
                             feature: {
                                 magicType: {
                                     show: true,
                                     type: ['pie', 'funnel'],
                                     option: {
                                         funnel: {
                                             x: '25%',
                                             width: '50%',
                                             funnelAlign: 'center',
                                             max: 1548
                                         }
                                     }
                                 },
                                 restore: {
                                     show: true,
                                     title: "Restore"
                                 },
                                 saveAsImage: {
                                     show: true,
                                     title: "Save Image"
                                 }
                             }
                         },
                         series: [{
                             name: 'Access to the resource',
                             type: 'pie',
                             radius: ['35%', '55%'],
                             itemStyle: {
                                 normal: {
                                     label: {
                                         show: true
                                     },
                                     labelLine: {
                                         show: true
                                     }
                                 },
                                 emphasis: {
                                     label: {
                                         show: true,
                                         position: 'center',
                                         textStyle: {
                                             fontSize: '14',
                                             fontWeight: 'normal'
                                         }
                                     }
                                 }
                             },
                             data: faturamento.total,
                         }]
                     };
                     var fathjPie = echarts.init(document.getElementById('PieTipoPagHj'));
                     fathjPie.setOption(option);
                 },
                 error: function (error) {
                     new PNotify({
                         title: 'Erro',
                         text: 'Falha na solicitação de dados. [PieTipoApgHj]',
                         type: 'error',
                         styling: 'bootstrap3'
                     });
                 }
             });
//            ********* Heatmap ****************
             $.ajax({
                 url: "/dashboard/faturamento_por_categoria/ajax",
                 type: "POST",
                 data: {
                     'mes': data.getMonth() + 1,
                     'ano': data.getFullYear()
                 },
                 success: function (faturamento) {

                     function colorMappingChange(value) {
                         var levelOption = getLevelOption(value);
                         chart.setOption({
                             series: [{
                                 levels: levelOption
                             }]
                         });
                     }

                     var formatUtil = echarts.format;

                     function getLevelOption() {
                         return [
                             {
                                 itemStyle: {
                                     normal: {
                                         borderWidth: 0,
                                         gapWidth: 5
                                     }
                                 }
                             },
                             {
                                 itemStyle: {
                                     normal: {
                                         gapWidth: 1
                                     }
                                 }
                             },
                             {
                                 colorSaturation: [0.35, 0.5],
                                 itemStyle: {
                                     normal: {
                                         gapWidth: 1,
                                         borderColorSaturation: 0.6
                                     }
                                 }
                             }
                         ];
                     }

                     var optionHeatMap = {
                         tooltip: {
                             formatter: function (info) {
                                 var value = info.value;
                                 var treePathInfo = info.treePathInfo;
                                 var treePath = [];

                                 for (var i = 1; i < treePathInfo.length; i++) {
                                     treePath.push(treePathInfo[i].name);
                                 }

                                 return [
                                     '<div class="tooltip-title">' + formatUtil.encodeHTML(treePath.join('/')) + '</div>',
                                     'Categoria: R$' + formatUtil.addCommas(value),
                                 ].join('');
                             }
                         },
                         series: [
                             {
                                 name: 'Categoria',
                                 type: 'treemap',
                                 visibleMin: 300,
                                 label: {
                                     show: true,
                                     formatter: '{b}'
                                 },
                                 itemStyle: {
                                     normal: {
                                         borderColor: '#fff'
                                     }
                                 },
                                 levels: getLevelOption(),
                                 data: faturamento.total
                             }
                         ]

                     };

                     var heatMap = echarts.init(document.getElementById('HeatMap'));
                     heatMap.setOption(optionHeatMap);
                 },

             });

         };


         $(document).ready(loadData("DF"));
         function loadNewData(tpData) {
             if (tpData == 'DF') {
                 loadData("DF")
                 document.getElementById('dtFaturamento').classList.add('btn-primary');
                 document.getElementById('dtPedido').classList.remove('btn-primary');

             } else {
                 loadData("DP")
                 document.getElementById('dtFaturamento').classList.remove('btn-primary');
                 document.getElementById('dtPedido').classList.add('btn-primary');
             }
         }


     </script>
 {% endblock %}