{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}"/>

{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>SAT 2 Configuração do Produto</h3>
                </div>
                {% form_theme form 'bootstrap_3_layout.html.twig' %}

                {{ form_start(form) }}


            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        {% for message in app.flashes('notice') %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="x_title">
                            <h2>Itens do Pedido</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="table-responsive">
                                <table class="table table-condensed table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Descrição</th>
                                        <th>Tributação</th>
                                        <th>Origem</th>
                                        <th>NCM</th>
                                        <th>Tributação</th>
                                        <th>PIS</th>
                                        <th>COFINS</th>
                                        <th>Simples</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for SATProduto in form.satprodutos %}

                                        <tr>
                                            <th scope="row">
                                                {{ form_row(SATProduto.codigo, { 'label':false, 'attr':{'readonly':'true','style':'max-width: 30ch','tabindex':'-1'} }) }}</th>
                                            <td>{{ form_row(SATProduto.descricao, {'label':false, 'attr':{'readonly':'true','style':'width: 45ch','tabindex':'-1'} }) }}</td>
                                            <td>{{ form_row(SATProduto.icms, {'label':false, 'attr':{'style':'width: 7ch'} }) }}</td>
                                            <td>{{ form_row(SATProduto.origem, {'label':false, 'attr':{'style':'width: 7ch'} }) }}</td>
                                            <td>{{ form_row(SATProduto.ncm, {'label':false, 'attr':{'style':'width: 12ch','tabindex':'-1'} }) }}</td>
                                            <td>{{ form_row(SATProduto.tributacao, {'label':false, 'attr':{'style':'width: 16ch','tabindex':'-1'} }) }}</td>
                                            <td>{{ form_row(SATProduto.pis, {'label':false, 'attr':{'style':'width: 8ch','tabindex':'-1'} }) }}</td>
                                            <td>{{ form_row(SATProduto.cofins, {'label':false, 'attr':{'style':'width: 8ch','tabindex':'-1'} }) }}</td>
                                            <td>{{ form_row(SATProduto.simplesCsosn, {'label':false, 'attr':{'style':'width: 8ch','tabindex':'-1'} }) }}</td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>

                                <div class="text-right">
                                    <button class="btn btn-primary" type="submit">Salvar</button>
                                </div>
                            </div>

                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}

 {% endblock %}