{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Integração Loja Virtual</h3>
                </div>
                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                          <span class="fa fa-search"></span>
                      </button>
                    </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Inventário Loja</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {% form_theme form 'bootstrap_3_layout.html.twig' %}

                            {{ form_start(form) }}

                            <div class="table-responsive">
                                <table class="table table-condensed table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Descrição</th>
                                        <th>Saldo</th>
                                        <th>Inventário</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for produto in form.produtos %}

                                        <tr>
                                            <th scope="row">
                                                {{ form_row(produto.codigo, { 'label':false, 'attr':{'readonly':'true','style':'max-width: 25ch'} }) }}</th>
                                            <td>{{ form_row(produto.descricao, {'label':false, 'attr':{'readonly':'true','style':'width: 75ch'} }) }}</td>
                                            <td>{{ form_row(produto.saldo, {'label':false, 'attr':{'style':'width: 10ch'} }) }}</td>
                                            <td>{{ form_row(produto.qtyInventario, {'label':false, 'attr':{'style':'width: 10ch'} }) }}</td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>

                                <div class="text-right">
                                    <button class="btn btn-primary " type="submit">Atualizar</button>
                                </div>

                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptsProgress %}
{% endblock %}

 {% block javascripts %}


 {% endblock %}