{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Integração Loja Virtual</h3>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Atualiza Preços e Saldos</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="x_panel">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="progress md-progress" style="height: 32px">
                                            <div class="progress-bar progress-bar-info" role="progressbar"
                                                 style="width: 0%; height: 32px;min-width: 2em;" aria-valuenow="0"
                                                 aria-valuemin="0" aria-valuemax="100"><span
                                                        id="text_progress">0%</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-3">
                                        <button id="sincro" type="button" class="btn btn-primary disabled">Sincronizar
                                            &nbsp;<span class="fa fa-plug"></span></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <h4 id="status"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptsProgress %}
    <script src="{{ asset('vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
{% endblock %}

 {% block javascripts %}

     <script type="text/javascript">
         $(document).ready(function () {
             $('#sincro').attr('class', 'btn btn-primary ');
             $('#sincro').click(function () {
                 $('.progress-bar').attr('aria-valuenow', '0').css('width', '0%');
                 $('#text_progress').text('0%')
                 $('#status').text('Iniciando...');
                 xhr = new XMLHttpRequest();
                 xhr.open("POST", '/v1/integracao/loja', true);
                 xhr.onprogress = function (e) {
                     var response = e.currentTarget.response;
                     var output = typeof lastResponseLength === typeof undefined
                         ? response
                         : response.substring(lastResponseLength);

                     lastResponseLength = response.length;
                     outputArray = output.split('#');
                     var progresso = outputArray[0];
                     console.log(output[0]);
                     console.log(output[1]);
                     $('.progress-bar').attr('aria-valuenow', progresso).css('width', progresso + '%');
                     $('#text_progress').text(progresso + "%");
                     $('#status').text(outputArray[1]);
                     if (output.lenght > 20) {
                         $('.progress-bar').attr('class', 'progress-bar progress-bar-danger').css('width', '100%');
                         $('#status').text('ERRO! Mensagem recebida com tamanho superior.');
                     }
                 };
                 xhr.onreadystatechange = function () {
                     if (xhr.readyState == 4) {
                         if (xhr.status === 200) {
                         } else {
                             $('.progress-bar').attr('class', 'progress-bar progress-bar-danger').css('width', '100%');
                             $('#status').text('ERRO! Mensagem recebida com tamanho superior.');
                         }
                     }
                 };
                 xhr.send();
             });
         });
     </script>

 {% endblock %}