{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block style %}

{% endblock %}

{% block page_content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Movimentação de Estoque</h3>
            </div>

            <div class="title_right">

            </div>

        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Saídas</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-inline">
                            <div class="form-group ">
                                <input type="text" class="form-control" id="inputDescricao" placeholder="Descrição"
                                       style="width: 150px" value="">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputAno" placeholder="Ano"
                                       style="width: 150px" value="">
                            </div>
                            <label>&nbsp;</label>
                            <button id="btBusca" class="btn btn-primary" style="margin-bottom: 0px">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>

                        <div class="loading" hidden="true"></div>

                        <table id="tblSaidas" class="table table-hover table-bordered table-condensed"
                               style="margin-top: 20px">
                            <thead>
                            <tr class="success">
                                <th>Código</th>
                                <th>Descrição</th>
                                <th>JAN</th>
                                <th>FEV</th>
                                <th>MAR</th>
                                <th>ABR</th>
                                <th>MAI</th>
                                <th>JUN</th>
                                <th>JUL</th>
                                <th>AGO</th>
                                <th>SET</th>
                                <th>OUT</th>
                                <th>NOV</th>
                                <th>DEZ</th>
                            </tr>
                            </thead>
                            <tbody id="tbody">

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}


    {% block javascripts %}


        <script type="text/javascript">
            $(document).ajaxStart(function () {
                $(".loading").attr("hidden", false);

            });
            $(document).ajaxStop(function () {
                $(".loading").attr("hidden", true);

            });


            $("#btBusca").click(function () {
                $.ajax({
                    url: "/v1/estoque/entradas/mult",
                    type: "POST",
                    data: {
                        "descricao": document.getElementById("inputDescricao").value,
                        "ano": document.getElementById("inputAno").value,
                    },
                    success: function (data) {

                        console.log(data);
                        $("#tblSaidas tr>td").remove();
                        var table = document.getElementById("tblSaidas");
                        var row = table.insertRow(1);


                        for (var key in data) {
                            var row = table.insertRow(1);
                            var cell1 = row.insertCell(-1);
                            cell1.innerHTML = data[key].CODIGO;
                            var cell1 = row.insertCell(-1);
                            cell1.innerHTML = data[key].DESCRICAO;
                            var cell1 = row.insertCell(-1);
                            cell1.innerHTML = Math.round(data[key].M1);
                            var cell1 = row.insertCell(-1);
                            cell1.innerHTML = Math.round(data[key].M2);
                            var cell1 = row.insertCell(-1);
                            cell1.innerHTML = Math.round(data[key].M3);
                            var cell1 = row.insertCell(-1);
                            cell1.innerHTML = Math.round(data[key].M4);
                            var cell1 = row.insertCell(-1);
                            cell1.innerHTML = Math.round(data[key].M5);
                            var cell1 = row.insertCell(-1);
                            cell1.innerHTML = Math.round(data[key].M6);
                            var cell1 = row.insertCell(-1);
                            cell1.innerHTML = Math.round(data[key].M7);
                            var cell1 = row.insertCell(-1);
                            cell1.innerHTML = Math.round(data[key].M8);
                            var cell1 = row.insertCell(-1);
                            cell1.innerHTML = Math.round(data[key].M9);
                            var cell1 = row.insertCell(-1);
                            cell1.innerHTML = Math.round(data[key].M10);
                            var cell1 = row.insertCell(-1);
                            cell1.innerHTML = Math.round(data[key].M11);
                            var cell1 = row.insertCell(-1);
                            cell1.innerHTML = Math.round(data[key].M12);

                        }


                    },
                    error: function (data) {
                        console.log(data);
                        $(".loading").attr("hidden", true);
                    }
                })

            });
        </script>
    {% endblock %}
