{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block style %}

{% endblock %}

{% block page_content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Movimentação de Estoque</h3>
            </div>

            <div class="title_right">

            </div>

        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Saídas</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-inline">
                            <div class="form-group ">
                                <input type="text" class="form-control" id="inputCodigo" placeholder="Código"
                                       style="width: 150px">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputAno" placeholder="Ano"
                                       style="width: 150px">
                            </div>
                            <label>&nbsp;</label>
                            <button id="btTeste" class="btn btn-primary" style="margin-bottom: 0px">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="row">
                            <label id="lblProduto"></label>
                        </div>
                        <div class="loading" hidden="true"></div>
                        <div id="grfBarSaida" style="height:350px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}


    {% block javascripts %}
        <script src="{{ asset('vendors/echarts/dist/echarts.min.js') }}"></script>

        <script type="text/javascript">
            $(document).ajaxStart(function () {
                $(".loading").attr("hidden", false);

            });
            $(document).ajaxStop(function () {
                $(".loading").attr("hidden", true);

            });
            $("#inputCodigo").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        type: "POST",
                        url: "/json/produto/descricao",
                        data: {term: request.term},
                        success: response,
                        dataType: 'json',
                    });
                },
                minLength: 2,
                delay: 1000,
                focus: function (event, ui) {
                    $(event.target).val(ui.item.value);
                    $("#lblProduto").html(ui.item.descricao);
                    return false;
                }
            });

            $("#btTeste").click(function () {
                $.ajax({
                    url: "/v1/estoque/entradas",
                    type: "POST",
                    data: {
                        "codigo": document.getElementById("inputCodigo").value,
                        "ano": document.getElementById("inputAno").value,
                    },
                    success: function (data) {
                        var option = {

                            tooltip: {
                                trigger: 'axis'
                            },

                            toolbox: {
                                show: false
                            },
                            calculable: false,
                            xAxis: [{
                                type: 'category',
                                data: data.mes,

                            }],
                            yAxis: [{
                                type: 'value'
                            }],
                            series: [{
                                name: 'Vendas',
                                type: 'bar',
                                label: {
                                    normal: {
                                        show: false,
                                        position: 'inside'
                                    }
                                },
                                itemStyle: {
                                    normal: {
                                        color: '#29CBA9'

                                    },
                                },
                                data: data.qtde,

                            },]
                        };
                        var fatmChart = echarts.init(document.getElementById('grfBarSaida'));
                        fatmChart.setOption(option);
                    },
                    error: function (data) {
                        console.log(data);
                        $(".loading").attr("hidden", true);
                    }
                })

            });
        </script>
    {% endblock %}
