<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Miguel Pescador{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendors/nprogress/nprogress.css') }}"/>


    <link rel="stylesheet" href="{{ asset('vendors/animate.css/animate.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/custom.min.css') }}"/>


</head>
{% block body %}
<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form method="post">
                    <h1 class="animate bounceInLeft">Miguel Pescador </h1>

                    <div class="animate bounceInRight">
                        <input type="text" id="username" name="username" value="{{ last_username }}"
                               class="form-control" placeholder="Usuário" required=""/>
                    </div>
                    <div class="animate  bounceInRight">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Senha"
                               required=""/>
                    </div>
                    <div class="animate bounceInUp">
                        <button type="submit" class="btn btn-primary">login <span class="fa fa-lock"></span></button>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="clearfix"></div>


                </form>
            </section>
        </div>


    </div>
</div>
</body>
{% endblock %}
</html>
