<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Financeiro Miguel Pescador{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}"/>
    <script src="https://kit.fontawesome.com/c46f4b8baa.js" crossorigin="anonymous"></script>
{#    <link rel="stylesheet" href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}"/>#}
    <link rel="stylesheet" href="{{ asset('vendors/nprogress/nprogress.css') }}"/>
    {#<link rel="stylesheet" href="{{ asset('vendors/iCheck/skins/flat/green.css') }}"/>#}
    <link rel="stylesheet" href="{{ asset('vendors/jquery-ui-1.12.1.custom/jquery-ui.min.css') }}"/>
    <style>
        .ui-autocomplete-loading {
            background: white url("{{ asset('images/loading.gif') }}") right center no-repeat;
        }
    </style>


    {% block stylesheets %}
    {% endblock %}

    <link rel="stylesheet" href="{{ asset('css/custom.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/mp.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block style %}
    {% endblock %}

</head>
<body  class="nav-md">
<div class="container body">
    <div class="main_container">
        <!--  menu_fixed  -->
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view ">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="{{ path("homepage") }}" class="site_title"> <span>Miguel Pescador</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                {{ include('menu_user_profile.html.twig') }}
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                {{ include('sidebar.html.twig') }}
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
{#                {{ include("menu_footer_buttos.html.twig") }}#}
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        {{ include('topbar.html.twig') }}
        <!-- /top navigation -->

        <!-- page content -->
        {% block page_content %}

        {% endblock %}
        <!-- /page content -->

        <!-- footer content -->
        {{ include("footer.html.twig") }}
        <!-- /footer content -->
    </div>
</div>

<script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('vendors/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>



<script src="{{ asset('vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{#<script src="{{ asset('vendors/fastclick/lib/fastclick.js') }}"></script>#}
<script src="{{ asset('vendors/nprogress/nprogress.js') }}"></script>
{% block javascriptsProgress %}
{% endblock %}
{#<script src="{{ asset('vendors/iCheck/icheck.min.js') }}"></script>#}
{#<script src="{{ asset('vendors/jszip/dist/jszip.min.js') }}"></script>#}

<script src="{{ asset('js/moment/moment-with-locales.min.js') }}"></script>
<script src="{{ asset('js/monthpicker/jquery.monthpicker.min.js') }}"></script>


<script src="{{ asset('js/custom.min.js') }}"></script>

<script>$(document).on('keyup keypress', function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });</script>


{% block javascripts %}
{% endblock %}


</body>
</html>

