{% block collection_widget %}
        <div class="collection">
            {% if prototype is defined %}
                {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
                {#{% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}#}
            {% endif %}
            {#{% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}#}
            {#{% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}#}
            {#{% set attr = attr|merge({'data-name-prefix': full_name}) %}#}
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form) }}
                <div class="container">
                <div class="row">
                    {% for rows in form %}
                        {% set fieldNum = 1 %}
                        {% for row in rows %}
                            {% if row.vars.name == 'idProduto' %}
                                <div id="field{{ fieldNum }}" class="col-xs-1" style="padding: 1px">
                                    {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                                </div>
                            {% elseif row.vars.name == 'codigo' %}
                                <div id="field{{ fieldNum }}" class="col-xs-1" style="padding: 1px">
                                    {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                                </div>
                            {% elseif row.vars.name == 'descricao' %}
                                <div id="field{{ fieldNum }}" class="col-xs-3" style="padding: 1px">
                                    {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                                </div>
                            {% elseif row.vars.name == 'preco' %}
                                <div id="field{{ fieldNum }}" class="col-xs-1" style="padding: 1px">
                                    {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                                </div>
                            {% elseif row.vars.name == 'qtde' %}
                                <div id="field{{ fieldNum }}" class="col-xs-1" style="padding: 1px">
                                    {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                                </div>
                            {% endif %}
                            {% set fieldNum = fieldNum + 1 %}
                        {% endfor %}
                        <div class="collection-actions">
                            <a href="#" class="collection-remove btn btn-primary btn-xs" title="Deletar linha"><span class="glyphicon glyphicon-trash"></span></a>
                            <a href="#" class="collection-add btn btn-primary btn-xs" title="Acrescenta linha"><span class="glyphicon glyphicon-plus-sign"></span></a>
                        </div>
                        <div class="clear"></div>
                    {% endfor %}
                </div>
                </div>
                {{ form_rest(form) }}
            </div>
            <div class="clear"></div>

        <div class="clear"></div>
{% endblock collection_widget %}

{% block collection_item_widget %}
        <div class="container">
        <div class="row">
            {% set fieldNum = 1 %}
            {% for row in prototype %}
                {% if row.vars.name == 'idProduto' %}
                 <div id="field{{ fieldNum }}" class="col-xs-1" style="padding: 1px">
                        {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                    </div>

                {% elseif row.vars.name == 'codigo' %}
                    <div id="field{{ fieldNum }}" class="col-xs-1" style="padding: 1px">
                        {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                    </div>
                {% elseif row.vars.name == 'descricao' %}
                    <div id="field{{ fieldNum }}" class="col-xs-3" style="padding: 1px">
                        {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                    </div>
                {% elseif row.vars.name == 'preco' %}
                    <div id="field{{ fieldNum }}" class="col-xs-1" style="padding: 1px">
                        {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                    </div>
                {% elseif row.vars.name == 'qtde' %}
                    <div id="field{{ fieldNum }}" class="col-xs-1" style="padding: 1px">
                        {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                    </div>
                {% endif %}
                {% set fieldNum = fieldNum + 1 %}
            {% endfor %}
            <div class="collection-actions">
                <a href="#" class="collection-remove  btn btn-primary btn-xs" title="Deleta linha"><span class="glyphicon glyphicon-trash"></span></a>
                <a href="#" class="collection-add  btn btn-primary btn-xs" title="Acrescenta linha"><span class="glyphicon glyphicon-plus-sign"></span></a>
            </div>

            <div class="clear"></div>
        </div>
        </div>
{% endblock collection_item_widget %}