{% block collection_widget %}

        <div class="collection">
            {% if prototype is defined %}
                {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
                {#{% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}#}
            {% endif %}
            {#{% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}#}
            {#{% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}#}
            {#{% set attr = attr|merge({'data-name-prefix': full_name}) %}#}
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form) }}
                <div class="row">
                    {% for rows in form %}
                        {% set fieldNum = 1 %}
                        {% for row in rows %}
                            {% if row.vars.name == 'idProduto' %}
                                <div id="field{{ fieldNum }}" class="col-md-2">
                                    {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                                </div>
                            {% elseif row.vars.name == 'codigo' %}
                                <div id="field{{ fieldNum }}" class="col-md-2">
                                    {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                                </div>

                            {% elseif row.vars.name == 'descEtiqueta' %}
                                <div id="field{{ fieldNum }}" class="col-md-3">
                                    {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                                </div>
                             {% elseif row.vars.name == 'data' %}
                                <div id="field{{ fieldNum }}" class="col-md-2">
                                    {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                                </div>
                            {% elseif row.vars.name == 'preco' %}
                                <div id="field{{ fieldNum }}" class="col-md-2">
                                    {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                                </div>
                            {% elseif row.vars.name == 'qtde' %}
                                <div id="field{{ fieldNum }}" class="col-md-1">
                                    {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                                </div>
                            {% endif %}
                            {% set fieldNum = fieldNum + 1 %}
                        {% endfor %}

                        <div class="col-md-2">
                            <a href="#" class="collection-remove btn btn-default" title="Delete element"><span class="glyphicon glyphicon-trash"></span></a>
                            <a href="#" class="collection-add btn btn-default" title="Add element"><span class="glyphicon glyphicon-plus-sign"></span></a>
                        </div>
                        <div class="clear"></div>
                    {% endfor %}
                </div>
                {{ form_rest(form) }}
            </div>
            <div class="clear"></div>

        <div class="clear"></div>

{% endblock collection_widget %}

{% block collection_item_widget %}

        <div class="row">
            {% set fieldNum = 1 %}
            {% for row in prototype %}
                {% if row.vars.name == 'idProduto' %}
                        <div id="field{{ fieldNum }}" class="col-md-2">
                            {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                        </div>
                    {% elseif row.vars.name == 'codigo' %}
                        <div id="field{{ fieldNum }}" class="col-md-2">
                            {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                        </div>

                    {% elseif row.vars.name == 'descEtiqueta' %}
                        <div id="field{{ fieldNum }}" class="col-md-3">
                            {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                        </div>
                    {% elseif row.vars.name == 'data' %}
                        <div id="field{{ fieldNum }}" class="col-md-2">
                            {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                        </div>
                    {% elseif row.vars.name == 'preco' %}
                        <div id="field{{ fieldNum }}" class="col-md-2">
                            {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                        </div>
                    {% elseif row.vars.name == 'qtde' %}
                        <div id="field{{ fieldNum }}" class="col-md-1">
                            {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
                        </div>
                {% endif %}
                {% set fieldNum = fieldNum + 1 %}
            {% endfor %}
            <div class="col-md-2">
                <a href="#" class="collection-remove btn btn-default" title="Delete element"><span class="glyphicon glyphicon-trash"></span></a>
                <a href="#" class="collection-add btn btn-default" title="Add element"><span class="glyphicon glyphicon-plus-sign"></span></a>
            </div>

            <div class="clear"></div>
        </div>

{% endblock collection_item_widget %}