{% block form_widget %}

    {{ dump() }}
    <div class="row">
        <div class="col-md-2">
            {% spaceless %}

                {{ form_widget(form.etiquetas.vars.prototype.codigo) }}
                {#{{ form_widget(form.codigo)}}#}
            {% endspaceless %}

        </div>
    </div>
    {#<div class="col-md-2">#}
    {#{{ form_row(form.codigo) }}#}
    {#</div>#}
    {#<div class="col-md-2">#}
    {#{{ form_row(form) }}#}
    {#</div>#}
    {#<div class="col-md-2">#}
    {#<a href="#" class="collection-up btn btn-default" title="Move element up"><span class="glyphicon glyphicon-arrow-up"></span></a>#}
    {#<a href="#" class="collection-down btn btn-default" title="Move element down"><span class="glyphicon glyphicon-arrow-down"></span></a>#}
    {#</div>#}
    {#<div class="col-md-2">#}
    {#<a href="#" class="collection-remove btn btn-default" title="Delete element"><span class="glyphicon glyphicon-trash"></span></a>#}
    {#<a href="#" class="collection-add btn btn-default" title="Add element"><span class="glyphicon glyphicon-plus-sign"></span></a>#}
    {#</div>#}
    {#<div class="col-md-2">#}
    {#<a href="#" class="collection-duplicate btn btn-default" title="Duplicate element"><span class="glyphicon glyphicon-th-large"></span></a>#}
    {#</div>#}


{% endblock %}