<div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Configurações">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Tela Cheia">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Travar">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a href="{{ path('logout') }}" data-toggle="tooltip" data-placement="top" title="Sair Sistema">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>