<div class="profile clearfix">

    <div class="profile_pic">
        <img src="{{ asset ('images/user.png') }}" alt="..." class="img-circle profile_img">
    </div>

    <div class="profile_info">
        <span>Usuário,</span>
        <h2> {{ app.user.username }}</h2>
    </div>
    <div class="clearfix"></div>
</div>