<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li>
                <a>
                    <i class="fa fa-bar-chart"></i>
                    Informações
                    <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
                    <li>
                        <a href={{ path('total_mes') }}>Total Mês</a>
                    </li>
                </ul>
            </li>
            <li>
                <a>
                    <i class="fa fa-cogs"></i>Serviços<span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
                    <li>
                        <a href="{{ path('Ordem_Servico') }}">Ordem de Serviço</a>
                    </li>

                </ul>
            </li>

            <li>
                <a>
                    <i class="fa fa-cubes"></i>
                    Estoque
                    <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
                    <li>
                        <a>Etiqueta Produto<span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href={{ path('EtiquetaProduto') }}>Produto Nota Fiscal</a>
                            </li>
                            <li>
                                <a href={{ path('EtiquetaAvulsa') }}>Produto Avulso</a>
                            </li>
                            <li>
                                <a href={{ path('EtiquetaVaraNF') }}>Vara Nota Fiscal
                                </a>
                            </li>
                            <li>
                                <a href={{ path('EtiquetaVaraAvulsa') }}>Vara Avulsa</a>
                            </li>
                            <li>
                                <a href={{ path('EtiquetaCarabina') }}>Carabina</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Movimentações<span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a>Saidas<span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href={{ path('movimentos_est') }}>Cód Produto</a>
                                    </li>
                                    <li>
                                        <a href={{ path('movimentos_est_mult') }}>Descr Produto</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>SAT
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul
                                class="nav child_menu">
                            {# <li><a href={{ path('SATParam',{date: "now"|date("d-m-Y") }) }}>SAT</a></li> #}
                            <li>
                                <a href={{ path('SAT2Param') }}>SAT 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Inventário<span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href={{ path('inventario') }}>Inventário</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Mapa E.B.<span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a>Consultas<span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href={{ path('mapa_calibre') }}>Calibre</a>
                                    </li>
                                    <li>
                                        <a href={{ path('mapa_produto') }}>Produtos</a>
                                    </li>
                                    <li>
                                        <a href={{ path('mapa_clientes') }}>Clientes</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Processos<span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a>Armas<span class="fa fa-chevron-down"></span>
                                        </a>
                                        <ul class="nav child_menu">
                                            <li>
                                                <a href={{ path('mapa_controle_armas') }}>Controle</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('mapa_armas_pendentes') }}">Pendentes</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>Munições<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li>
                                                <a href="{{ path('mapa') }}">Controle</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('mapa_cadastro_movimento_municao') }}">E/S</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{{ path('mapa_movimento_municao_manual') }}">Importação</a>
                                    </li>

                                </ul>
                            </li>

                            <li>
                                <a>Relatórios<span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu">
                                    <li>
                                        <a href={{ path('MapaReportVendaArma') }}>Venda Armas</a>
                                    </li>
                                    <li>
                                        <a href={{ path('MapaReporteVendasPorTipo') }}>Venda Munição</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Integração Loja<span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href={{ path('atualiza_saldo_loja') }}>Atualiza Saldos
                                </a>
                            </li>
                            <li>
                                <a href={{ path('inventario_loja') }}>Inventário Loja
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href={{ path('NotaFiscalEntrada') }}>Preços
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
