{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Inventário</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form class="form-inline">
                                <div class="form-group">
                                        <label for="url">URL</label>
                                        <input type="text" class="form-control" id="url" placeholder=""
                                               value="C:\Users\paulo\Downloads\montar\Inventario\inventario.txt">
                                        <button type="button" onclick="onClickButton()" class="btn btn-primary">Importar Saldos</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}

<script>
    function onClickButton(id, el) {
        $.ajax({
            url: "/inventario/processar",
            type: "PUT",
            dataType: "json",
            data: {
                "url": $("#url").val()
            },
            success: function (update) {
                console.log(update)
            }
        })
    }
</script>

{% endblock %}
