{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h2>Parametros</h2>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Impressora Térmica</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                            {{ form_start(form) }}


                            <div class="container">
                                <div class="row">
                                    <div class=" col-md-2 col-sm-2 col-xs-2 ">
                                        <label>Escala de Cinza</label>
                                    </div>
                                    <div class=" col-md-1 col-sm-1 col-xs-1 ">
                                        {{ form_widget(form.printer_darkness, {'attr': {'class': 'text-center'}}) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" col-md-1 col-sm-1 col-xs-1 ">
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </div>

                                </div>

                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}
 {% endblock %}